.intro {
  display: flex;
  align-items: center;
  min-height: 700px;
  padding: 50px 0;
}

.wraper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.discount {
  display: block;
  font-family: Lato;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.026px;
  margin-bottom: 50px;
  color: var(--orange);
}
.title {
  color: #1c2b35;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: -0.9px;
  color: var(--nevy);
}
.text-content {
  margin-bottom: 55px;
  color: #2a414f;
  font-size: 24px;
  letter-spacing: 0.06px;
}

.shop-btn {
  background-color: var(--orange);
  border: none;
  border-radius: 4px;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.image {
  position: relative;
}
.image::after {
  position: absolute;
  left: -14px;
  bottom: -14px;
  height: 100%;
  width: 100%;
  background-color: var(--dim-orange);
  content: '';
  z-index: -1;
  border-radius: 5px;
}
.image img {
  display: block;
  width: 100%;
}
